<div class="row col-md-12">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <fieldset [formGroup]="tourForm">
      <legend>Update tour entity</legend>
      <div class="form-group">
        <label for="updateFio">{{'tours.theme' | translate}}</label>
        <input type="text" class="form-control" id="updateFio" placeholder="theme"
               formControlName="theme">
      </div>
      <div class="form-group">
        <label for="updateAge">{{'tours.typeOfExhibits' | translate}}</label>
        <input type="text" class="form-control" id="updateAge" placeholder="typeOfExhibits"
               formControlName="typeOfExhibits">
      </div>
      <div class="form-group">
        <label for="updateExperience">{{'tours.duration' | translate}}</label>
        <input type="number" class="form-control" id="updateExperience" placeholder="duration"
               formControlName="duration">
      </div>
      <div class="form-group">
        <label for="updateLanguages">{{'tours.cost' | translate}}</label>
        <input type="number" class="form-control" id="updateLanguages" placeholder="cost"
               formControlName="cost">
      </div>
      <div class="form-group">
        <label for="updateTourId">{{'tours.imageUrl' | translate}}</label>
        <input type="text" class="form-control" id="updateTourId" placeholder="imageUrl"
               formControlName="imageUrl">
      </div>
      <button class="btn btn-primary" (click)="updateTour()">{{'button.update' | translate}}
      </button>
    </fieldset>
  </div>
</div>
