<h6 class="text-center" id="notLoginNotification" *ngIf="!isVisitor()">{{'auth.message' | translate}}</h6>
<h3 class="text-center">{{'exhibits.naming' | translate}}</h3>
<div class="album py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let exhibit of exhibits">
        <div class="card exhibit-card mb-4 box-shadow">
          <h6 class="card-header curs-pointer" (click)="viewExhibit(exhibit)">
            {{exhibit.title}}
          </h6>
          <div class="card-image-wrap">
            <img alt="Exhibit image" class="card-image" data-src="{{exhibit.imageUrl}}">
          </div>
          <div class="card-body card-wrap">
            <p class="card-text">{{exhibit.description}}</p>
          </div>
          <div class="card-body card-buttons">
            <button type="button" *ngIf="isVisitor()" class="btn btn-sm btn-outline-primary"
                    (click)="viewExhibit(exhibit)">
              {{'button.view' | translate}}
            </button>
            <button type="button" class="btn btn-sm btn-outline-primary" *ngIf="isGuide()"
                    (click)="editExhibit(exhibit)">
              {{'button.edit' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
