<div class="row col-md-12">
  <div class="col-md-2"></div>
  <div class="col-md-2"><img style="height: 200px; width: 100%; display: block;" src="{{exhibit.imageUrl}}"
                             alt="Card image"></div>
  <div class="col-md-6">
    <div><h3>{{exhibit.title}}</h3></div>
    <table class="table table-hover text-center">
      <thead>
      <tr>
        <th scope="col">{{'exhibits.dated' | translate}}</th>
        <th scope="col">{{'exhibits.material' | translate}}</th>
        <th scope="col">{{'exhibits.archiveNum' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr class="table">
        <th scope="row">{{exhibit.dated}}</th>
        <td>{{exhibit.material}}</td>
        <td>{{exhibit.archiveNum}}</td>
      </tr>
      </tbody>
    </table>
    <p class="text-center">{{'exhibits.description' | translate}}</p>
    <p>{{exhibit.description}}</p>
  </div>
</div>
<div class="row col-md-12">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table table-hover text-center">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">{{'tours.theme' | translate}}</th>
        <th scope="col">{{'tours.duration' | translate}}</th>
        <th scope="col">{{'tours.cost' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr class="table" *ngFor="let tour of tours">
        <th scope="row"><img style="height: 200px; width: 200px; display: block;" src="{{tour.imageUrl}}"
                             alt="Card image"></th>
        <td><h5>{{tour.theme}}</h5></td>
        <td>{{tour.duration}}</td>
        <td>{{tour.cost}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
