<div class="sing-up-form-wrap">
  <form class="sing-up-form" [formGroup]="visitorForm" #singUpForm="ngForm">
    <h5 class="singup-form-title">{{'button_signup' | translate}}</h5>
    <div class="form-group">
      <label for="inputUsername">{{'visitor_username' | translate}}</label>
      <input class="form-control" id="inputUsername" placeholder="Username"
             formControlName="username">
    </div>
    <div class="form-group">
      <label for="inputPassword">{{'visitor_password' | translate}}</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Password"
             formControlName="password">
    </div>
    <div class="form-group">
      <label for="inputFio">{{'visitor_fio' | translate}}</label>
      <input class="form-control" id="inputFio" placeholder="Ivanov I. I."
             formControlName="fio">
    </div>
    <div class="form-group">
      <label for="inputAge">{{'visitor_age' | translate}}</label>
      <input type="number" class="form-control" id="inputAge" placeholder="1-31"
             formControlName="age">
    </div>
    <div class="form-group">
      <label for="inputEmail">{{'visitor_email' | translate}}</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="1-99"
             formControlName="email">
    </div>
    <button class="btn btn-primary btn-outline-secondary" (click)="signupUser()" [disabled]="!singUpForm.form.valid">{{'button_signup' | translate}}
    </button>
  </form>
</div>
