<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div>
    <img class="logo-image" alt="Angular Logo" src="/assets/images/angular-logo.png">
  </div>
  <a class="navbar-brand">Museum</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
          aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/">{{'navbar.home' | translate}}</a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" routerLink="/tours" *ngIf="isVisitor()">{{'tours.naming' | translate}}</a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" routerLink="/guides" *ngIf="isAdmin()">{{'guide.guides' | translate}}</a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" routerLink="/exhibits">{{'exhibits.naming' | translate}}</a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" routerLink="/visitors" *ngIf="isGuide()">{{'visitor.visitors' | translate}}</a>
      </li>
      <li class="nav-item" [routerLinkActive]="'active'">
        <a class="nav-link" routerLink="/about">{{'navbar.aboutUs' | translate}}</a>
      </li>
    </ul>
    <button id="navBarLoginButton" *ngIf="!hasSignedIn()" class="btn btn-outline-primary btn-sm"
            routerLink="/login">{{'button.login' | translate}}
    </button>
    <button id="navBarSignupButton" *ngIf="!hasSignedIn()" class="btn btn-outline-primary btn-sm"
            routerLink="/signup">{{'button.signup' | translate}}
    </button>
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <div class="btn-group" role="group" *ngIf="hasSignedIn()">
        <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle btn-sm"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu dropdown-menu-wrap" aria-labelledby="btnGroupDrop1" x-placement="bottom-start"
             style=" ">
          <span class="dropdown-item curs-pointer" *ngIf="!isAdmin()"
                (click)="goToProfileEditor()">{{'button.editProfile' | translate}}</span>
          <span id="logoutButton" class="dropdown-item curs-pointer"
                (click)="logout()">{{'button.logout' | translate}}</span>
        </div>
      </div>
      <button type="button" class="btn btn-outline-primary btn-sm" *ngIf="hasSignedIn()"
              (click)="goToProfileEditor()">{{logButtonName}}</button>
    </div>
    <div class="language-changer btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-outline-primary btn-sm curs-pointer active" (click)="changeLanguage('en')">
        <input type="radio"> EN
      </label>
      <label class="btn btn-outline-primary btn-sm curs-pointer" (click)="changeLanguage('ru')">
        <input type="radio"> RU
      </label>
    </div>
  </div>
</nav>
