<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div>
    <img width="30" alt="Angular Logo"
         src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  </div>
  <a class="navbar-brand">Museum</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
          aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">{{'navbar.home' | translate}}<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tours" *ngIf="hasRoleUser()">{{'tours.naming' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/guides" *ngIf="hasRoleAdmin()">{{'guide.naming' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/exhibits">{{'exhibits.naming' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/visitors" *ngIf="hasRoleAdmin()">{{'visitor.naming' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">{{'navbar.aboutUs' | translate}}</a>
      </li>
    </ul>
    <div style="width: 20px"></div>
    <button *ngIf="!hasSignedIn()" class="btn btn-outline-primary btn-sm" routerLink="/login">{{'button.login' | translate}}
    </button>
    <div style="width: 10px"></div>
    <button *ngIf="!hasSignedIn()" class="btn btn-outline-primary btn-sm" routerLink="/signup">{{'button.signup' | translate}}
    </button>
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <div class="btn-group" role="group" *ngIf="hasSignedIn()">
        <button id="btnGroupDrop1" type="button" class="btn btn-outline-primary dropdown-toggle btn-sm" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start"
             style=" position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 34px, 0px);">
          <a class="dropdown-item" routerLink="/editProfile">{{'button.editProfile' | translate}}</a>
          <a class="dropdown-item" routerLink="/" (click)="logout()">{{'button.logout' | translate}}</a>
        </div>
      </div>
      <button type="button" class="btn btn-outline-primary btn-sm" *ngIf="hasSignedIn()">{{logButtonName}}</button>
    </div>
    <div style="width: 10px"></div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <button type="button" class="btn btn-primary btn-sm" (click)="changeLanguage('en')">EN</button>
      <button type="button" class="btn btn-primary btn-sm" (click)="changeLanguage('ru')">RU</button>
    </div>
  </div>
</nav>
