.add-button {
  margin: 10px;
}

#tour-image {
  height: 150px;
  width: 150px;
  display: block;
}

.no-tours {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-button-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
