<div class="album py-5">
  <button class="btn btn-primary btn-outline-secondary" (click)="updateReadForm()" >{{'button.update' | translate}}
  </button>
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let tour of tours">
        <div class="card mb-4 box-shadow">
          <div class="card mb-3">
            <h6 class="card-header">{{tour.theme}}</h6>
            <img style="height: 200px; width: 100%; display: block;"
                 src="{{tour.imageUrl}}"
                 alt="Card image">
            <div class="card-body">
              <p class="card-text">{{'tours.typeOfExhibits' | translate}} - {{tour.typeOfExhibits}}</p>
              <p class="card-text">{{'tours.duration' | translate}} - {{tour.duration}}</p>
              <p class="card-text">{{'tours.cost' | translate}} - {{tour.cost}} $</p>
            </div>
            <div class="card-body">
              <button type="button" class="btn btn-sm btn btn-outline-primary" (click)="viewTour(tour)">{{'button.view'
                | translate}}</button>
              <button type="button" class="btn btn-sm btn btn-outline-primary" (click)="editTour(tour)"
                      *ngIf="hasRoleAdmin()">{{'button.edit' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
