<div class="row col-md-12 {{disabled}}" >
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <fieldset [formGroup]="visitorForm" [hidden]="isAdmin">
      <legend>Update visitor entity</legend>
      <div class="form-group">
        <label for="updateUsername">{{'visitor.username' | translate}}</label>
        <input type="text" class="form-control" id="updateUsername" placeholder="Username"
               formControlName="username">
      </div>
      <div class="form-group">
        <label for="updatePassword">{{'visitor.password' | translate}}</label>
        <input type="text" class="form-control" id="updatePassword" placeholder="Password"
               formControlName="password">
      </div>
      <div class="form-group">
        <label for="updateVFio">{{'visitor.fio' | translate}}</label>
        <input type="text" class="form-control" id="updateVFio" placeholder="Ivanov I. I."
               formControlName="fio">
      </div>
      <div class="form-group">
        <label for="updateVAge">{{'visitor.age' | translate}}</label>
        <input type="number" class="form-control" id="updateVAge" placeholder="1-31"
               formControlName="age">
      </div>
      <div class="form-group">
        <label for="updateEmail">{{'visitor.email' | translate}}</label>
        <input type="email" class="form-control" id="updateEmail" placeholder="test@tmail.com"
               formControlName="email">
      </div>
      <button type="button" class="btn btn-outline-primary" (click)="updateVisitorInBase()">{{'button.update' | translate}}
      </button>
    </fieldset>

    <fieldset [formGroup]="guideForm" [hidden]="!isAdmin">
      <legend>Update guide entity</legend>
      <div class="form-group">
        <label for="updateFio">{{'guide.fio' | translate}}</label>
        <input type="text" class="form-control" id="updateFio" placeholder="Ivanov I. I."
               formControlName="fio">
      </div>
      <div class="form-group">
        <label for="updateAge">{{'guide.age' | translate}}</label>
        <input type="number" class="form-control" id="updateAge" placeholder="1-31"
               formControlName="age">
      </div>
      <div class="form-group">
        <label for="updateExperience">{{'guide.experience' | translate}}</label>
        <input type="number" class="form-control" id="updateExperience" placeholder="1-99"
               formControlName="experience">
      </div>
      <div class="form-group">
        <label for="updateLanguages">{{'guide.languages' | translate}}</label>
        <input type="text" class="form-control" id="updateLanguages" placeholder="ENG,CHN"
               formControlName="languages">
      </div>
      <div class="form-group">
        <label for="updateTourId">{{'guide.tourId' | translate}}</label>
        <input type="number" class="form-control" id="updateTourId" placeholder="1-3"
               formControlName="tourId">
      </div>
      <button type="button" class="btn btn-outline-primary" (click)="updateGuideInBase()">{{'button.update' | translate}}
      </button>
    </fieldset>
  </div>
</div>
<div class="modal" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
      </div>
      <div class="modal-body">
        <p>Changes has been saved</p>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Ok</button>
      </div>
    </div>
  </div>
</div>
