<div class="login-form-wrap">
  <form class="login-form" *ngIf="!submitted" [formGroup]="logForm" (ngSubmit)="login()" #loginForm="ngForm">
    <legend class="login-form-legend">{{'auth.title' | translate}}</legend>
    <div class="form-group">
      <label for="username">{{'auth.login' | translate}}</label>
      <input type="text" class="form-control" id="username"
             formControlName="username">
    </div>
    <div class="form-group">
      <label for="password">{{'auth.password' | translate}}</label>
      <input type="password" class="form-control" id="password"
             formControlName="password">
    </div>
    <div *ngIf="wrongData" class="alert-message">Wrong login or password</div>
    <button type="submit" [disabled]="!loginForm.form.valid" class="btn btn-primary btn-outline-secondary">
      {{'button.log-in' | translate}}
    </button>
  </form>
</div>
<ngx-spinner
  bdColor="rgba(0,0,0, 0.8)"
  size="large"
  color="#2A9FD6"
  type="ball-spin-clockwise"
></ngx-spinner>
