<div class="row col-md-12 {{disabled}}">
  <div class="col-md-3"></div>
  <div class="col-md-6" style="background: black">
    <fieldset [formGroup]="visitorForm">
      <legend>{{'login.profile' | translate}}</legend>
      <div class="form-group">
        <label for="updateVUsername">{{'visitor.username' | translate}}</label>
        <input type="text" class="form-control" id="updateVUsername" placeholder="Username"
               formControlName="username">
      </div>
      <div class="form-group">
        <label for="updateVPassword">{{'visitor.password' | translate}}</label>
        <input type="text" class="form-control" id="updateVPassword" placeholder="Password"
               formControlName="password">
      </div>
      <div class="form-group">
        <label for="updateVFio">{{'visitor.fio' | translate}}</label>
        <input type="text" class="form-control" id="updateVFio" placeholder="Ivanov I. I."
               formControlName="fio">
      </div>
      <div class="form-group">
        <label for="updateVAge">{{'visitor.age' | translate}}</label>
        <input type="number" class="form-control" id="updateVAge" placeholder="1-31"
               formControlName="age">
      </div>
      <div class="form-group">
        <label for="updateEmail">{{'visitor.email' | translate}}</label>
        <input type="email" class="form-control" id="updateEmail" placeholder="test@tmail.com"
               formControlName="email">
      </div>
      <button type="button" class="btn btn-outline-primary" (click)="updateVisitorInBase()">{{'button.update' |
        translate}}
      </button>
    </fieldset>
  </div>
</div>
<div _ngcontent-c6="" style="text-align: center"><h5>{{'visitor.favouriteTours' |
  translate}}</h5></div>
<div class="album py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let tour of favouriteVisitorTours">
        <div class="card mb-4 box-shadow">
          <div class="card mb-3">
            <h6 class="card-header">{{tour.theme}}</h6>
            <img style="height: 200px; width: 100%; display: block;"
                 src="{{tour.imageUrl}}"
                 alt="Card image">
            <div class="card-body">
              <p class="card-text">{{'tours.typeOfExhibits' | translate}} - {{tour.typeOfExhibits}}</p>
              <p class="card-text">{{'tours.duration' | translate}} - {{tour.duration}} {{'tours.hour' | translate}}</p>
              <p class="card-text">{{'tours.cost' | translate}} - {{tour.cost}} $</p>
            </div>
            <div class="card-body">
              <button type="button" class="btn btn-sm btn btn-outline-primary" (click)="viewTour(tour)">{{'button.view'
                | translate}}
              </button>
              <div style="float: right">
                <a>Delete from favour</a>
                <button type="button" class="btn btn-sm btn btn-outline-primary" (click)="deleteFromFavorites(tour)">
                  {{'button.delete'| translate}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
      </div>
      <div class="modal-body">
        <p>{{'modal.changesSaved' | translate}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Ok</button>
      </div>
    </div>
  </div>
</div>
