<h3 class="text-center">{{'visitor_visitors' | translate}}</h3>
<div class="row col-md-12">
  <div class="col-md-8 offset-md-2">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>{{'visitor_username' | translate}}</th>
        <th>{{'visitor_password' | translate}}</th>
        <th>{{'visitor_fio' | translate}}</th>
        <th>{{'visitor_age' | translate}}</th>
        <th>{{'visitor_email' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let visitor of visitors">
        <td>{{visitor.visitorId}}</td>
        <td>{{visitor.username}}</td>
        <td>{{visitor.password}}</td>
        <td>{{visitor.fio}}</td>
        <td>{{visitor.age}}</td>
        <td>{{visitor.email}}</td>
        <td>
          <button class="btn-sm btn-primary btn-outline-secondary" (click)="updateClick(visitor)">
            {{'button_update' | translate}}
          </button>
        </td>
        <td>
          <button class="btn-sm btn-primary btn-outline-secondary"
                  (click)="deleteClick(visitor)">{{'button_delete' |
            translate}}
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="crete-button-wrap">
  <button class="btn btn-primary btn-outline-secondary" *ngIf="!detailForm" (click)="openCreateForm()">
    {{'button_add' | translate}}
  </button>
</div>
